//IMPORTS
@import "../../sass/variables";
@import "../../sass/reusable";
//IMPORTS

//RESET
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
//RESET

//BASE SETTINGS
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
  min-height: 100vh;
  background-color: $color-grey-light;
}

body.modal-open {
  overflow: hidden;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: 6rem 50vh minmax(50vh, min-content) 5rem;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
}
