@import "../../sass/variables";

.modal {
  //Review
  position: fixed;
  background-color: rgba(#333, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;

  &__form-wrapper,
  &__message-wrapper {
    width: 50%;
    height: 50vh;
    background-color: #fff;
    padding: 2rem;
    border-radius: 3px;
  }

  &__message-wrapper {
    .modal__title {
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  &__form {
    width: 100%;
    height: 65%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rated {
      &:hover,
      &:active {
        fill: $color-primary;
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-family: $font-heading;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__input-group {
    margin-bottom: 1rem;
  }

  &__text {
    width: 100%;
    height: 100%;
    border: none;
    font-family: inherit;
    border: 1px solid $color-grey-light-4;
    padding: 1rem;
    resize: none;
    border-radius: 1px;
    color: inherit;
    transition: all 0.2s;
    &:focus {
      outline: none;
      padding: 1.1rem;
      border: 1px solid $color-theme-3;
    }
    &::placeholder {
      color: inherit;
    }
  }

  &__close {
    border: none;
    background: none;
    font-family: inherit;
    font-size: 3rem;
    display: inline-block;
    line-height: 0;
    transform: translateY(0.75rem);
    cursor: pointer;
    transition: all 0.2s;

    &:active,
    &:visited {
      color: $color-grey-light-4;
    }
  }
}
